{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nittany Market Home</title>

        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap" rel="stylesheet">
        <link href="{% static 'fontawesome-free-5.15.3-web/css/all.min.css' %}" rel="stylesheet">

        <!-- Bootstrap core CSS -->
        <link href="{% static 'bootstrap5.0.1/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap" rel="stylesheet">

    </head>
    <body style="font-family: 'Fredoka One',serif; background-color: #FDF4DC;">

    <main>
        {% include 'navbar.html' %}


        {% include 'messages.html' %}

    <div class="container-fluid px-5 py-4">
        <h1 class="display-5 fw-bold">Browsing Products in {{ category }}</h1>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb h3">
            {% for cat in category.get_parents %}
                {% if not forloop.last %}
                <li class="breadcrumb-item"><a href="{% url 'category' cat %}">{{ cat }}</a></li>
                {% else %}
                <li class="breadcrumb-item active" aria-current="page">{{ cat }}</li>
                {% endif %}
            {% endfor %}
          </ol>
        </nav>

        <div class="row h4">
            <div class="col-3">
                  <ul style="list-style-type: none">
                    {% for cat in category.get_children %}
                    <li><a href="{% url 'category' cat %}">{{ cat }}</a></li>
                    {% endfor %}
                  </ul>
            </div>
            <div class="col">

            </div>
        </div>
    </div>

    <footer class="mastfoot mt-auto">
    <div class="d-flex justify-content-center text-dark">
    <h5>Made with <i class="fas fa-heart" style="color: #e25555;"></i> & <i class="fas fa-mug-hot" style="color: brown;"></i> by <a href="https://github.com/sleepytaco" target="_blank" style="text-decoration: none;"><span style="border-bottom: 3px #d56b6b dashed;">Mohammed Khan</span></a> </h5>
    </div>
    </footer>

    </main>

    <script src="{% static 'bootstrap5.0.1/js/bootstrap.bundle.min.js' %}" type="application/javascript"></script>

    </body>
</html>
