{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nittany Market Home</title>

        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap" rel="stylesheet">
        <link href="{% static 'fontawesome-free-5.15.3-web/css/all.min.css' %}" rel="stylesheet">

        <!-- Bootstrap core CSS -->
        <link href="{% static 'bootstrap5.0.1/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap" rel="stylesheet">

    </head>
    <body style="font-family: 'Fredoka One',serif; background-color: #FDF4DC;">

    <main>
        {% include 'navbar.html' %}


        {% include 'messages.html' %}

    <div class="container-fluid px-5 py-4">
        <h1 class="display-5 fw-bold">Product Listings For {{ category }}</h1>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb h3">
            {% for cat in category.get_parents %}
                {% if not forloop.last %}
                <li class="breadcrumb-item"><a href="{% url 'category' cat %}">{{ cat }}</a></li>
                {% else %}
                <li class="breadcrumb-item active" aria-current="page">{{ cat }}</li>
                {% endif %}
            {% endfor %}
          </ol>
        </nav>

        <div class="row h4">
            <div class="col-3 g-4">
                {% if category.get_children %}
                  <ul style="list-style-type: none">
                    {% for cat in category.get_children %}
                    <li><a href="{% url 'category' cat %}">{{ cat }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>
            <div class="col">
                {% if category.product_listings.all %}
                    <div class="row row-cols-1 row-cols-md-3 g-4 text-dark mt-0">
                    {% for prod in category.product_listings.all %}
                            <div class="col">
                                <div class="card overflow-auto" style="background-color: {{ bg_color|default:"#357779" }};">
                                    <img  class="bd-placeholder-img card-img-top" src="" style="max-width:100%; height: 200px;   object-fit: cover;" alt="{{ prod.title }} thumbnail">

                                    <div class="card-body">
                                        <h5 class="card-title"><a href="" class="stretched-link" style="text-decoration: none; color: white">{{ prod.title  }}</a></h5>
                                        <p class="card-text">
                                            <span class="badge bg-success text-white">{{ prod.price }}</span>
                                            <span class="badge bg-warning text-dark">Qty: {{ prod.quantity }}</span>
                                        </p>
                                        <p class="card-text"><small class="text-white-50">{{ prod.product_name }} sold by {{ prod.seller }}</small></p>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <h4>No product listings found for this {{ category }}</h4>
                {% endif %}
            </div>
        </div>
    </div>

    </main>

    <script src="{% static 'bootstrap5.0.1/js/bootstrap.bundle.min.js' %}" type="application/javascript"></script>

    </body>
</html>
