{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nittany Market Home</title>

        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap" rel="stylesheet">
        <link href="{% static 'fontawesome-free-5.15.3-web/css/all.min.css' %}" rel="stylesheet">

        <!-- Bootstrap core CSS -->
        <link href="{% static 'bootstrap5.0.1/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap" rel="stylesheet">

    </head>
    <body style="font-family: 'Fredoka One',serif; background-color: #FDF4DC;">

    <main>
        {% include 'navbar.html' %}


        {% include 'messages.html' %}

    <div class="container-fluid px-5 py-4">
        <span class=" d-flex justify-content-center">
            <h1 class="display-5 fw-bold">Product Listings For {{ category }} <span class="badge rounded-pill bg-secondary  ">{{ product_listings.count }}</span> </h1>

        </span>
        <span class=" d-flex justify-content-center">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb h3">
             <li class="breadcrumb-item"><a href="{% url 'category' 'all' %}">All</a></li>
            {% for cat in category.get_parents %}
                {% if not forloop.last %}
                <li class="breadcrumb-item"><a href="{% url 'category' cat %}">{{ cat }}</a></li>
                {% else %}
                <li class="breadcrumb-item active" aria-current="page">{{ cat }}</li>
                {% endif %}
            {% endfor %}
          </ol>
        </nav>
        </span>

        <div class="row h4">
            {% if product_listings and category.get_children %}
            <div class="col-3 g-4">
                  <ul style="list-style-type: none">
                    {% for cat in category.get_children %}
                    <li><a href="{% url 'category' cat %}">{{ cat }}</a></li>
                    {% endfor %}
                  </ul>
            </div>
            {% endif %}

            <div class="col">
                {% if product_listings %}
                    <div class="row row-cols-1 row-cols-md-{% if category.get_children %}3{% else %}4{% endif %} g-4 text-dark mt-0">
                    {% for prod in product_listings %}
                            <div class="col">
                                <div class="card overflow-auto" style="background-color: {{ bg_color|default:"#357779" }};">

                                    <div class="card-body">
                                        <h5 class="card-title"><a href="{% url 'product_listing' prod.listing_id %}" class="stretched-link" style="text-decoration: none; color: white">{{ prod.product_name|title  }}</a></h5>
                                        <p class="card-text">
                                            <span class="badge bg-success text-white">{{ prod.price }}</span>
                                            <span class="badge bg-light text-dark">Qty: {{ prod.quantity }}</span>
                                            {% if prod.reviews.count > 0 %}
                                            <span class="badge bg-warning text-dark">{{ prod.reviews.count }} reviews</span>
                                            {% endif %}
                                        </p>
                                        <p class="card-text"><small class="text-white-50">{{ prod.title|title }} sold by {{ prod.seller }}</small></p>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <span class=" d-flex justify-content-center">
                        <h4>No product listings found for this {{ category }}</h4>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>

    </main>

    <script src="{% static 'bootstrap5.0.1/js/bootstrap.bundle.min.js' %}" type="application/javascript"></script>

    </body>
</html>
