{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nittany Market Home</title>

        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap" rel="stylesheet">
        <link href="{% static 'fontawesome-free-5.15.3-web/css/all.min.css' %}" rel="stylesheet">

        <!-- Bootstrap core CSS -->
        <link href="{% static 'bootstrap5.0.1/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap" rel="stylesheet">

    </head>
    <body style="font-family: 'Fredoka One',serif; background-color: #FDF4DC;">

    <main>
        {% include 'navbar.html' %}


        {% include 'messages.html' %}

    <div class="container-fluid px-5 py-4">
         <span class=" d-flex justify-content-center">
            <h1 class="display-5 fw-bold">Search Results <span class="badge rounded-pill bg-secondary">{{ listings.count }}</span></h1>
        </span>
        <br>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for listing in listings %}


            <div class="col mb-4">
                <div class="card-body h-100 overflow-hidden text-white rounded-5 shadow-lg" style="background-color: {{ bg_color|default:"#357779" }};">
                    <div class="d-flex justify-content-between">
                        <h2 class="card-title text-white">
                            <a href="{% url 'product_listing' listing.listing_id %}" target="_blank" style="color: white; text-decoration: none">{{ listing.product_name|title  }}</a>
                            <br><small class="h4">by <span style="border-bottom: 3px #e35959 dashed;">{{ listing.seller }}</span></small>
                        </h2>

                    </div>
                    <br>
                    <h4>
                        <span>
                            <span class="badge bg-primary text-white">
                                {{ listing.price }}
                            </span>
                            <span class="badge bg-warning text-white me-1" >
                                <i class="fas fa-fire me-1"></i>
                                {{ listing.quantity }} left
                            </span>

                        </span>
                    </h4>
                </div>

            </div>
            {% endfor %}

        </div>
    </div>



    </main>

    <script src="{% static 'bootstrap5.0.1/js/bootstrap.bundle.min.js' %}" type="application/javascript"></script>

    </body>
</html>
