<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><h3><kbd>Nittany Market</kbd></h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Portal</a>
                </li>

                {% if user.buyer_infos.exists %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="quickViewDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="quickViewDropdown" style="z-index: 1021;">
                        {% for cat in root_categories %}
                            <li><a class="dropdown-item" href="{% url 'category' cat.category_name %}">{{ cat.category_name }}</a></li>
                        {% endfor %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'All' %}">View all</a></li>
                    </ul>
                </li>
                {% else %}
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="quickViewDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="quickViewDropdown" style="z-index: 1021;">
                        {% for cat in root_categories %}
                            <li><a class="dropdown-item" href="{% url 'category' cat.category_name %}">{{ cat.category_name }}</a></li>
                        {% endfor %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'All' %}">View all</a></li>
                    </ul>
                </li>
                       <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_listings' %}">Your Product Listings</a>
                </li>
                {% endif %}

{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'checking_info' %}">Checking Info</a>#}
{#                </li>#}
            </ul>


            <div class="navbar-nav justify-content-end">

                <form action="{% url 'search' %}" method="post" class="d-flex h-75 mt-2 me-1">
                    {% csrf_token %}
                      <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="quickViewDropdown" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                        <img src="https://robohash.org/{{ user.email }}.png?set=set3" alt="{{ user.email }}" class="border border-3 border-primary rounded-circle" width="42" height="42">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="quickViewDropdown" style="z-index: 1021;">
                        <li class="dropdown-item overflow-auto">Logged in as <span style="border-bottom: 3px #020000 dashed;">{{ user.email }}</span></li>
                        <li><a class="dropdown-item" href="{% url 'checking_info' %}">Checking Info</a></li>

                        <!-- <li><hr class="dropdown-divider"></li> -->
                        <li><a class="dropdown-item" href="{% url 'sign_out' %}">Log out</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
